.game-page{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .game-counter{
      margin-top: 125px;
}   
@media (min-width: 960px) {
      .game-counter{
        margin-top: 148px;
    }
}
.game-choices{
    margin-top: auto;
}